<mat-card *ngIf="datastream">
  <mat-card-title>
    {{datastream.name}}
  </mat-card-title>
  <mat-card-content>
    <div>{{datastream.description}}</div>
    <div *ngIf="observation">
      {{observation.result}} {{datastream.unitOfMeasurement.symbol}} at
      {{observation.phenomenonTime | date: 'd.MM.y H:mm:ss'}}
    </div>
    <div class="chart">
      <n52-extended-data-d3-timeseries-graph #graph [additionalData]="[additionalData]" [timeInterval]="timespan"
        [presenterOptions]="graphOptions" (onTimespanChanged)="timespanChanged($event)">
      </n52-extended-data-d3-timeseries-graph>
    </div>
  </mat-card-content>
</mat-card>
