:host {
    .mat-list {
        padding: 20px;

        .mat-list-item {
            border: 1px solid grey;

            .mat-button {
                margin-left: 20px;
            }
        }
    }
}